
.list-group {
    margin-bottom: 20px;
}

body {
    background-color: #abcdef
}

.devour {
    float: right
}

#devoured {
    opacity: 0.5;
}
img {
    margin-top: 20px;
    width: 100px;
    height: 100px
}

